# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.306
      - name: Restore dependencies
        run: dotnet restore ./src/FirstNETWebApp.csproj
      - name: Build
        run: dotnet build --restore ./src/FirstNETWebApp.csproj
      - name: Unit-Test
        run: dotnet test ./tests/FirstNETWebApp.Tests.csproj --logger "console;verbosity=detailed"
